* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial;
  font-size: 20px;
}

.table {
  border-collapse: collapse;
  text-align: center;
  width: 96%;
  min-height: 96vh;
  margin: auto;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 30px;
}

.thead {
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(118, 151, 179),
    rgb(58, 58, 112),
    rgb(83, 83, 177),
    rgb(41, 41, 99),
    rgb(2, 2, 37)
  );
}

.head-text {
  margin-bottom: 50px;
  font-size: 30px;
}

.price {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

.first-col {
  text-align: left;
  text-indent: 50px;
}

.cell {
  padding: 20px;
}

.button {
  background-color: #e0e0e0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: inherit;
  padding: 15px 30px 15px 30px;
}

.dark-gray {
  background: #dcdcdc;
}

.light-gray {
  background: #ebe7e7;
}

.lightest-color {
  background-color: #f5f0f0;
}
